<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
</head>
<body>
    <h1><a href="/send">Fund Transfer</a></h1>
    <table>
        <thead>
            <tr>
                <th>Sender</th><th>Receiver</th><th>Amount</th><th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for each in history %}
                <tr>
                    <td>{{each.fromAccount}}</td>
                    <td>{{each.toAccount}}</td>
                    <td>{{each.amount}}</td>
                    <td>{{each.type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>